body{
    color: cornsilk;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    background-color: cornsilk;
    font-family: 'Quicksand', sans-serif;
}
div{
    background: rgb(7, 141, 137);
    background: linear-gradient(90deg, rgb(7, 141, 137) 37%, rgba(0,212,255,1) 100%);
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: .25%;
}
img{
    padding-top: 10px;
    border-radius: 50%;
    width:40%;
    margin-right: 100px;
}
a{
    float: left;
    text-decoration: cornsilk underline;
    color: cornsilk;
    padding-left: 5px;
}